/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Chewy&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #ff8026;
  --secondary-color: #00a2e8;
  --accent1-color: #F038FF;
  --accent2-color: #000000;

  /* change the values below to your chosen font(s) */
  --heading-font:  'Press Start 2P', cursive;
  --paragraph-font:  'Comic Nue', cursive;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    black
  ); /* headlines on a white background */
  --headline-color-on-color: black; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: black; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: black;
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: black;
  --nav-hover-background-color: var(--accent1-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.region {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2, 
.region {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  margin: -10px;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1,
header > h2 {
  color: var(--headline-color-on-color);
}

p,
select,
option,
label{
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
}


nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}


.button {
  background-color: var(--secondary-color);
  width: 450px;
  height: 50px; /* Adjust as needed */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /* Proper vertical centering */
  border: none;
  cursor: pointer;
  border-radius: 8px; /* Optional: Rounded corners */
  margin: 0 auto;
}

.random {
    text-align: center;
    padding: 20px;
}
.spotlight {
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
}
.spotlight img {
    margin-top: 20px;
    max-width: 350px;
}
.pokemonSpot {
  padding: 15px;
  border-radius: 5100px;
  background-color: #ff8026;
}

.type-list {
  list-style-type: none;
  padding: 10px;
  color: black;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.type-item {
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.type-name {
  font-weight: bold;
  font-size: 20px;
  color: black;
}


.pokemonTypes{
  padding: 25px;
}


/* Page 2 */

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

section {
    margin: 20px;
    /* background-color: var(--accent1-color);  */
    width: 200px;
    text-align: center;
    padding-bottom: 15px;
    border: 3px solid var(--accent1-color);
    border-radius: 10px;
  }
section img {
    margin-top: 10px;
    width: 150px;
    background-color: white;
}
.region-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  align-items: center;
  width: 100%;
}

.chooseRegion {
  margin-right: auto; 
  background-color: var(--accent1-color);
  border-radius: 15px;
  padding: 15px;
}

.region {
  text-align: center;
}

@media screen and (min-width: 850px) {

  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .type-list {
    list-style-type: none;
    padding: 10px;
    color: black;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

}